- content_for :title do
  — Broadcast Mode

#content
  .authenticated-content
    .intro
      %p
        %strong Yay! You are now broadcasting!
        Keep this tab open and everything will be alright.
      %p Users can now listen to what you’re listening to by going to:
      %pre <a class="broadcast-url">http://#{ENV["CANONICAL_HOST"]}#{ENV["RACK_ENV"] != "production" ? ':'+ENV["PORT"] : ''}/listen/<span class="rdio-user" /></a>
    .hud.group
      %img.icon.rdio-track-icon{ width: 100, height: 100, alt: '' }
      .infos
        %h3.rdio-track-title
        %h4.rdio-track-artist
        %h5.rdio-track-album

%script
  window.VenyrType = 'broadcast'
