- content_for :title do
  — Broadcast Mode

#content.broadcast
  .loading
    %span Loading…
  .authenticated-content
    .intro
      %p
        %strong Yay! You are now broadcasting to <span class="listeners-count">0</span> users.<br />
        %small Keep this tab open and everything will be alright.
      %p Users can listen to what you’re listening to by going to:
      %pre <a class="broadcast-url">http://#{ENV["CANONICAL_HOST"]}#{ENV["RACK_ENV"] != "production" ? ':'+ENV["PORT"] : ''}/listen/<span class="rdio-user" /></a>
    = partial :hud

%script
  window.VenyrType = 'broadcast'
