.authenticated-content
  %p
    %a{ href: '/broadcast' } Broadcast
  %p
    %form{ action: '/listen/%user', method: 'get' }
      %label{ for: 'listen-user' } Listen to
      %input{ id: 'listen-user', type: 'text' }
      %button{ type: 'submit' } Listen!

.unauthenticated-content
  %p Welcome to Venyr. Please sign in to Rdio.
