- content_for :title do
  — Broadcast your Rdio playback to your friends

#content.home{ data: { type: 'home' } }
  .loading
    %span Loading…

  .authenticated-content
    .broadcast
      %p
        <strong>Broadcast your Rdio playback</strong><br />
        People will be able to sync their Rdio playback to yours.
      %a.button.broadcast{ href: '/broadcast' } Broadcast!

    .or
      %span or

    .listen
      %p
        Know a friend who’s broadcasting?<br />
        <strong>Sync your Rdio playback</strong> to his/her.
      %form{ action: '/listen/%user', method: 'get' }
        %p
          %label{ for: 'listen-user' } Listen to
          %input{ id: 'listen-user', type: 'text', placeholder: 'remi' }
          %button.button.listen{ type: 'submit' } Listen!

    - if BroadcastChannel.popular.any?
      .or
        %span or

      .active
        %p Listen to one of these popular broadcasts:
        %ul
          - BroadcastChannel.popular.each do |channel|
            %li
              %a{ href: "/listen/#{channel.user}" }= channel.user
              %small (#{channel.listeners_count} listener#{'s' if channel.listeners_count > 1})

  .unauthenticated-content
    %p Welcome to Venyr, the best way to broadcast your Rdio playback with your friends.
    %p.rdio-login
      %a.button.button-large{ href: "javascript://" } Sign in with Rdio
