- content_for :title do
  — Listen Mode

#content.listen
  .loading
    %span Loading…
  .authenticated-content
    .intro
      %p
        %strong Yay! You are now listening to <span class="rdio-user-link"></span>’s broadcast.<br />
        %small Keep this tab open and everything will be alright.
    = partial :hud

%script
  window.VenyrType = 'listen'
