- content_for :title do
  — Listen Mode

#content.liste
  .loading
    Loading…
  .authenticated-content
    %h2 Yay! You are now listening to <span class="rdio-user" />!
    %p Keep this tab open and everything will be alright.

%script
  window.VenyrType = 'listen'
